#heading{
    color: orange;
}
h6{
    font-size: large;
    text-align: left;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cap{
    text-align: center;
}
.span{
    margin-right: 100px; 
}
.bold{
    font-size: 30px;
    margin-right: 500px;
}
p{
    border: 5px solid;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
